<html>
<head>
    <title>Slimeman</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <h1>Slimeman</h1>
        <form action='/playing' method='post'>
            <div class='form-group'>
                <label for='letter'>Letter:</label>
                <input id='letter' name='letter' class='form-control' type='text'>
                <button type='submit' class='btn-default'>play</button>
            </div>
        </form>
        <h2>Your guess:</h2>
        <form action='restart_game' method='post'>
            <button type='submit'>let's start oooover</button>
        </form>

        <h4><a href='/'>actually, first, let me go back home</a></h4>
    </div>
</body>
</html>
