<html>
<head>
    <title>Player</title>
    <link rel = 'stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <h1>you played</h1>
        <h4>the letter <strong>{{ new_play.getLetter }}</strong></h4>
        <p><a href='/'>go home</a></p>
    </div>
</body>
</html>
