<html>
<head>
    <title>Slimeman</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <h1>Slimeman</h1>
        {% if matched_letters is empty %}
        <h2>nothing here yet</h2>
        {% else %}
        {% for match in matched_letters %}
            {{ match.getLetter }}
        {% endfor %}
        {% endif %}
        <form action='/new_guess'>
            <button type='submit'>Play</button>
        </form>
        <form action='restart_game' method='post'>
            <button type='submit'>let's start oooover</button>
        </form>
    </div>
</body>
</html>
