<html>
<head>
    <title>Slimeman</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <h1>Slimeman</h1>
        {% if alreadys is not empty %}
            <p>letters already used:</p>
                <p>
                    {% for already in alreadys %}
                        {{ already.getAlready }}
                    <!-- {% endfor %} -->
                </p>
        <!-- {% endif %} -->
        <br>
        <img src='{{ already.getAttempts }}'>


        <!-- find way to print number of chances remianing -->
                <form action='/new_guess'>
            <button type='submit'>Let's Play</button>
        </form>
    </div>
</body>
</html>
